.button_setting {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.more_button {
  font-size: 20px;
  font-weight: bold;
  background-color: #2b3d8b;
  color: white;
  border: 3px solid white;
  border-radius: 7px;
  padding: 5px 10px;
  cursor: pointer;
}

.more_button:hover {
  background-color: white;
  color: #2b3d8b;
  border: 3px solid #2b3d8b;
  border-radius: 7px;
  padding: 5px 10px;
  cursor: pointer;
}

.footer_frame {
  background-color: #2b3d8b;
  color: white;

  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 150px 100px;
  justify-content: center;
  align-items: center;
}

.footer_columns {
  justify-items: center;
}

.footer_columns h2 {
  margin-bottom: 10px;
}

.footer_columns p {
  margin-bottom: 4px;
}

.footer_button button {
  background-color: #2b3d8b;
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 4px;
  display: block;
  border: none;
  cursor: pointer;
}

.footer_button a:link,
.footer_button a:visited {
  text-decoration: none;
}

.footer_button a button:hover {
  color: orange;
}

.FAQ {
  padding: 0 10px;
}

.footer_bottom {
  grid-column: 1 / -1;
  align-self: center;
}

.footer_bottom hr {
  margin: 10px 0;
}

.footer_bottom p {
  text-align: center;
}
