.search {
  width: 60%;
  height: 60px;

  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  border-radius: 10px;

  padding: 5px 5px 5px 15px;
  margin: 30px auto;
}

.search input {
  font-size: 16px;

  flex: 1;
  border: none;
  outline: none;

  margin: 10px 0;
  padding: 10px;
}

.search_icon {
  font-size: 50px;
  padding-bottom: 5px;
}

.search button {
  padding: 10px 20px;

  color: white;
  background-color: orange;
  border: none;
  border-radius: 10px;

  font-weight: bold;
  cursor: pointer;
}
