.main_background {
  background-color: #2b3d8b;
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.title {
  margin-left: 30px;
}

.main_button button {
  color: white;
  background-color: #2b3d8b;
  border: 0;
  font-size: 15px;
  flex: 1 0 10px;
  cursor: pointer;
  font-weight: bold;
}

.main_button button:hover {
  color: orange;
}

.home {
  padding: 0 5px;
}

.popular {
  margin: 0 7px;
  padding: 0 5px;
}

.recent {
  padding: 0 5px;
}
