.product_header {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.count_product {
  font-size: 17px;
  margin-left: 20px;
}

.dropdown {
  margin-right: 30px;
  position: relative;
  top: 0;
  left: -30px;
}

.dropdown button {
  font-size: 15px;
  background-color: white;
  border: 2px solid #dadada;
  padding: 5px 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;

  background-color: white;
  min-width: 120px;
  border-radius: 12px;
  box-shadow: 0px 8px 16px #0000001a;
  padding: 10px 0;
  list-style: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
}
